.wrapper {
  padding-top: 120px;
  padding-bottom: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;

  background: rgb(242, 242, 239);
  background: radial-gradient(circle, rgba(242, 242, 239, 1) 0%, rgba(242, 238, 255, 1) 100%);

  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 555px;
    height: 700px;
    bottom: -30px;
    right: -60px;
    border: 1px solid #fbfaff;
    background: radial-gradient(circle, rgba(242, 242, 239, 1) 0%, rgba(204, 195, 228, 1) 100%);
    border-top-left-radius: 100px;
    rotate: -7deg;
  }
}

.inner {
  width: var(--width-content);
  display: flex;
  align-items: center;

  justify-content: space-between;
}

//LEFT

.left .sale-off {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 10px;
}

.sale-off span:nth-child(1) {
  color: #010101;

  font-size: 1.4px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.94px;
}

// .sale-off span:nth-child(1) {
//     text-align: center;
//     color: #fff;
//     font-size: 1.2rem;
//     font-style: normal;
//     font-weight: 700;
//     line-height: normal;
//     border-radius: 16px;
//     background: #5d3bee;
//     padding: 7px 24px;
// }

.left h2 {
  color: #010101;

  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;

  strong {
    background: linear-gradient(268deg, #a6cf4a 0%, #ffd05a 55.34%, #fd60a9 99.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.left p {
  width: 444px;
  color: #717171;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}

.explore-course {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  border-radius: 30px;
  background: var(--primary-color);
  color: #fff;
  padding: 17px 24px;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

//RIGHT
.right {
  position: relative;
  z-index: 1;
}

.round-one {
  width: 540px;
  height: 540px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: linear-gradient(136deg, rgba(255, 255, 255, 0.58) 0%, rgba(255, 255, 255, 0.66) 100%);
  backdrop-filter: blur(65.02783203125px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.round-one .thumb {
  position: absolute;
  left: 0;
  bottom: 90px;
}

.sts-mentor {
  position: absolute;
  top: -32px;
  left: -108px;
  display: flex;
  align-items: center;
  gap: 18px;
  width: 206px;
  border-radius: 29px;
  background: #fff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.04);
}

.sts-course {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 126px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 6px 16px 0px rgba(249, 169, 120, 0.4);
}

.sts-mentor .icon,
.sts-course .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #a6cf4a;
  border-radius: 50%;
  margin: 5px 0 5px 6px;

  img {
    width: 20px;
    height: 24px;
  }
}
.sts-course .icon {
  background-color: #fd60a9;
}

.sts-mentor .content,
.sts-course .content {
  display: flex;
  flex-direction: column;
}

.sts-mentor .content span,
.sts-course .content span {
  color: #676b7c;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.sts-mentor .content span:nth-child(2),
.sts-course .content span:nth-child(2) {
  font-size: 12px;
  font-weight: 600;
}

.round-two {
  width: 82%;
  height: 82%;
  border-radius: 50%;
  border: 1px solid #fff;

  backdrop-filter: blur(65.02783203125px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.round-three {
  width: 82%;
  height: 82%;
  border-radius: 50%;

  border: 1px solid #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.round-three figure {
  display: inline-flex;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;

  img {
    object-fit: cover;
    width: 430px;
    z-index: 1;
    display: block;
    margin-bottom: -16px;
  }
}
