.wrapper {
  padding: 40px 0 46px 0;

  width: 100%;
}

.inner {
  width: var(--width-content);
  margin: auto;
}

.inner header {
  text-align: center;
  p {
    margin-bottom: 20px;
    color: var(--primary-color);

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  h2 {
    margin-bottom: 55px;
    color: #010101;

    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35;
  }
}

.category {
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.type-category {
  margin-bottom: 40px;
  color: var(--primary-color);

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7;
  border-radius: 30px;
  background: rgba(50, 90, 255, 0.06);
  padding: 5px 35px;
  cursor: pointer;
}

.type-category.active {
  background-color: var(--primary-color);
  color: #fff;
}

.btn {
  margin-top: 62px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  background: var(--primary-color);
  color: #fff;
  width: fit-content;

  text-align: center;
  display: flex;
  align-items: center;
  gap: 10;
  cursor: pointer;
  padding: 6px 24px;

  span {
    color: #fff;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 2.25;
  }
}

.carousel {
  width: calc(3 * 308px + 2 * 26px);
  margin: auto;
}

.list-news {
  display: flex;
  gap: 26px;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.news-item {
  min-width: 308px;
  max-width: 308px;
  user-select: none;
  cursor: pointer;
  h4 {
    margin-top: 8px;
    color: #000;

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.7;
    padding-right: 30px;
  }
}

.news-item .thumb {
  width: 100%;
  object-fit: cover;
  //height: 200px;
  border-radius: 12px;
}

//TYPE
.T-shirt,
.Short,
.Sock {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.T-shirt {
  color: #325aff;
}

.Short {
  color: #a6cf4a;
}

.Sock {
  color: #fb6238;
}

.date-publish {
  margin-top: 22px;
  display: flex;
  align-items: center;
  gap: 11px;
}

.date-publish span:nth-child(2) {
  color: #707070;

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

.date-publish span:nth-child(3) {
  color: #fb6238;
  margin-left: auto;
  margin-right: 34px;
  font-size: 15px;
}

.desc-author {
  margin-top: 21px;
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.name-author {
  color: #000;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7;
}

.desc-author span.author {
  color: #707070;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}
